body {
    height: 100vh;
    margin: 0;
    background-color: black;
}

.frame {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: inline-flex;
}

.boardFrame {
    height: 100%;
    width: 100vh;
    border: 2px solid black;
    box-sizing: border-box;
}

.playersBox {
    background-color: black;
    flex: 1;
    box-sizing: border-box;
    display: block;
    align-items: center;
}

.playerInformation {
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    margin: auto;
}

.playerContainer {
    display: block;
    position: relative;
    width: 100%;
    height: 50%;
}

.topProp {
    height: 15%;
    display: flex;
    background-image: url("images/sailor moon back2.jpg");
}

.middleContainer {
    display: flex;
    height: 70%;
}

.bottomProp {
    display: flex;
    height: 15%;
    background-image: url("images/images (1).jpg");
}

.sidePropContainer,
.rightPropContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 15%;
    height: 100%;
}

.rightPropContainer {
    flex-direction: column;
    background-image: url("images/sailor-moon-back.jpg");
    background-repeat: no-repeat;
}

.sidePropContainer {
    background-image: url("images/sailor-moon-back.jpg");
    background-position: center;
}

.middleFrame {
    width: 70%;
    height: 100%;
    border: 2px solid black;
    background-image: url("images/Sailor-Moon-sailor-moon-33437032-1808-1386.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    position: relative;
}

.freeParking,
.goToJail,
.jail,
.goStart {
    width: 15%;
    height: 100%;
}

.topProp > .propContainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.bottomPropContainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;

}

.bottomProp {
    flex-direction: row-reverse;
}

.sidePropContainer .prop1,
.rightPropContainer .prop1 {
    width: 100%;
    height: 11.11%;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    position: relative;
    display: flex;
}

.topProp .prop1,
.bottomProp .prop1 {
    width: 11.11%;
    height: 100%;
    border-right: 2px solid black;
    box-sizing: border-box;
    position: relative;
}

.freeParking {
    border-right: 2px solid black;
}

.jail {
    border-right: 2px solid black;

}

.sidePropContainer .prop1:nth-child(9) {
    border-top: 2px solid black;
    box-sizing: border-box;
}

.rightPropContainer .prop1:nth-child(1) {
    border-top: 2px solid black;
    box-sizing: border-box;
}

.startCollect {
    font-size: 1.4vh;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.startGo {
    font-size: 3.5vh;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.arrowImage img {
    width: 55%;
}

.startArea {
    display: inline-block;
    text-align: center;
    transform: rotate(-30deg);
    position: absolute;
    top: 14%;
    left: 3%;
}

.arrowImage {
    display: inline-block;
    position: relative;
    top: 60%;
    left: 20%;
}

#modalShadow{
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: black;
	opacity: .4;
}
#modalBody{
	position: fixed;
	left: 50%;
	top: 50%;
	min-height: 10vmin;
	min-width: 70vmin;
	transform: translate(-50%, -50%);
	background-color: white;
    display: flex;
    border: 1px solid black;
    background-color: gray
}
#modalMessage{
    font-size: 2rem;
    margin: auto;
}
#submitPlayers {
    background-color: green;
    font-size: 2rem;
    width: 25%;
    border: 1px solid black;
}
#submitPlayers:hover {
    background-color: rgb(0, 180, 0);
    cursor: pointer;
    font-size: 2rem;
    width: 25%;
    border: 1px solid black;
}

#submitPlayers:active {
    background-color: rgb(0, 80, 0);
    cursor: pointer;
    font-size: 2rem;
    width: 25%;
    border: 1px solid black;
}

#playerName {
    font-size: 2rem;
    width: 100%;
}

.num-of-players{
    cursor: pointer;
    width: 10%;
    font-size: 2rem;
    border: 1px solid black;
    background-color: gray
}
.num-of-players:hover {
    cursor: pointer;
    width: 10%;
    font-size: 2rem;
    border: 1px solid black;
    background-color: darkslategrey
}
.num-of-players:active {
    cursor: pointer;
    width: 10%;
    font-size: 2rem;
    border: 1px solid black;
    background-color: rgb(65, 112, 112)
}

h1 {
    color: white;
}

.goStart {
    position: relative;
}

.brown {
    height: 15%;
    background-color: saddlebrown;
}

.blue {
    height: 15%;
    background-color: #31b0d5;
}

.pink,
.orange {
    width: 15%;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 0;
}

.pink {
    background-color: #df5277;
}

.orange {
    background-color: darkorange;
}

.red,
.yellow {
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.red {
    background-color: #cd0a0a;
}

.yellow {
    background-color: gold;
}

.green,
.grey {
    width: 15%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
}

.green {
    background-color: #449d44;
}

.grey {
    background-color: #5e5e5e;
}

.bottomImg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bottomText {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

}

.bottomMoney {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.bottomText > p,
.bottomMoney > p {
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 60%;
    font-weight: bold;
    text-align: center;
}

.neptune .bottomImg {
    width: 85%;
}

.leftImg {
    width: 43%;
    transform: rotate(90deg);
    position: absolute;
    left: 0;
    top: -22%;
}

.leftText {
    width: 50%;
    text-align: center;
    position: absolute;
    right: 10%;
    top: 30%;
    transform: rotate(90deg) translateY(-50%);
}

.leftMoney {
    background-color: white;

    display: inline-block;
    height: 30%;
    position: absolute;
    top: 40%;
    left: 0;
    transform: rotate(90deg);
}

.leftText > p,
.leftMoney > p {
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 55%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.sidePropContainer .propInfo {
    display: flex;
    flex-direction: row-reverse;

}

.chibiusa .leftImg {
    top: -13%;
    width: 55%;
}

.venus .leftImg {
    width: 53%;
}

.mars .leftImg {
    width: 55%;
}

.jupiter .leftImg {
    top: -38%;
}

.moon .leftImg {
    width: 70%;
}

.topImg {
    transform: rotate(-180deg);
    width: 90%;
}

.topPropInfo {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.topText > p,
.topMoney > p {
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 55%;
    font-weight: bold;
    text-align: center;
    transform: rotate(-180deg);

}

.topMoney {
    background-color: white;
    width: 40%;
    position: relative;
    left: 30%;
}



/* Modal Dialog - Transparent Overlay */
.ui-widget-overlay {
    background: transparent;
    background-image: none;
    opacity: 0;
    z-index: 400;
}

/* Modal Dialog - No Close Button*/
.no-close .ui-dialog-titlebar-close {
    display: none;
}

.player {
    background-image: url('images/sailor moon.png');
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    top: 5%;
    left: 5%;
    height: 55px;
    width: 55px;
    z-index: 9999;
}

.venusJupiterText {
    position: absolute;
    bottom: -17%;
}

.sadJupiterText {
    position: absolute;
    bottom: -6%;
}

.artemisText {
    position: absolute;
    bottom: 15%;
    left: 15%;
}

.rightText,
.rightMoney,
.rightImg {
    transform: rotate(-90deg);
}

.rightImg {
    width: 130%;
    position: relative;
    left: 18%;
    bottom: 10%;
}

.rightPropContainer .propInfo {
    display: flex;
    flex-direction: row;
}

.rightText > p,
.rightMoney > p {
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 55%;
    font-weight: bold;
    text-align: center;
}

.rightText {
    position: relative;
    left: 30%;
}

.rightMoney {
    position: relative;
    left: 0;
    top: 35%;
    background-color: white;
    height: 23%;
}

.kamen .rightImg{
    width: 107%;
    left: 25%;
}

.queen .rightImg {
    width: 90%;
    left: 25%;
}

.mercuryMars .rightImg {
    width: 100%;
}

.mercuryMarsText {
    left: 20%;
}

.princess .rightImg{
    width: 95%;
    bottom: 18%;
}


.loveText {
    color: #d9534f;
    text-align: center;
    font-family: 'Coiny', cursive;

}

.loveTextContainer {
    position: relative;
    top: 20%;
}

.loveText > p {
    margin-bottom: 0;
}

.attackText {
    position: absolute;
    color: white;

}

.attackText > p {
    text-align: center;
}

.attackContainer,
.attackContainer .image{
    height: 100%;
}

.attack {
    width: 100%;
    height: 100%;
}

.taxText {
    font-size: 72%;
    font-family: 'Coiny', cursive;
}

.taxTextContainer {
    position: relative;
    top: 30%;
}

.friendshipText {
    color: #d9534f;
    text-align: center;
    font-family: 'Coiny', cursive;
    font-size: 50%;
}

.friendshipTextContainer {
    position: relative;
    top: 30%;
}

.jailBar {
    height: 100%;
    width: 100%;
}

.jailBarContainer {
    width: 70%;
    height: 70%;
}

.justLeft > p,
.vistingBottom > p {
    font-family: 'Coiny', cursive;
}

.justLeft {
    position: relative;
    bottom: 15%;
    left: 10%;
}

.vistingBottom {
    position: relative;
    transform: rotate(-90deg);
    bottom: 100%;
    left: 35%;
}

.sideTaxContainer {
    font-size: 72%;
    font-family: 'Coiny', cursive;
    transform: rotate(90deg);
    position: relative;
    bottom: 30%;
    top: 2%;
}

.sideLoveContainer {
    color: #d9534f;
    text-align: center;
    font-family: 'Coiny', cursive;
    transform: rotate(90deg);
    position: relative;
    left: 30%;
}
.freeParking {
    position: relative;
}

.car {
    width: 50%;
    transform: rotate(140deg);
    position: absolute;
    left: 24%;
    top: 38%;
}

.parking > p {
    transform: rotate(140deg);
    font-family: 'Coiny', cursive;
    position: absolute;
    left: 44%;
    top: 55%;
}

.free > p {
    transform: rotate(140deg);
    font-family: 'Coiny', cursive;
    position: absolute;
    left: 14%;
    top: 2%;
}

.topTaxContainer {
    font-size: 72%;
    font-family: 'Coiny', cursive;
    transform: rotate(180deg);
    position: relative;
    right: 5%;
}

.topFriendshipContainer {
    color: #d9534f;
    text-align: center;
    font-family: 'Coiny', cursive;
    font-size: 50%;
    position: relative;
    right: 5%;
    top: 50%;
    transform: rotate(180deg);
}

.goToJail {
    position: relative;
}
.jailImg {
    width: 40%;
    transform: rotate(-140deg);
    position: absolute;
    bottom: 20%;
    right: 50%;
}

.jailTop,
.goTo {
    transform: rotate(-140deg);
    font-family: 'Coiny', cursive;
    position: relative;
    right: 15%;
    bottom: 10%;
}

.rightLoveContainer {
    color: #d9534f;
    text-align: center;
    font-family: 'Coiny', cursive;
    transform: rotate(-90deg);
    position: relative;
   left: 30%;
}

.rightTaxContainer {
    font-size: 72%;
    font-family: 'Coiny', cursive;
    transform: rotate(-90deg);
    position: relative;
    left: 40%;
}

.rightFriendshipContainer {
    color: #d9534f;
    text-align: center;
    font-family: 'Coiny', cursive;
    font-size: 50%;
    position: relative;
    left: 40%;
    transform: rotate(-90deg);
}

.rightAttackText {
    color: white;
    position: absolute;
    transform: rotate(-90deg);
    left: 20%;
    bottom: -24%;
}



.rightAttackContainer{
    width: 100%;
    height: 100%;
    background-image: url("images/Wicked_Lady_Manga.jpg");

}

.topHeader img {
    width: 30%;
    transform: rotate(-45deg);
    position: absolute;
    top: 9%;
    left: -1%;
    z-index: 5;
}

.middleHeader img {
    width: 40%;
    transform: rotate(-45deg);
    position: absolute;
    top: 15%;
    z-index: 5;
}

.loveDeck {
    width: 40%;
    height: 30%;
    background-color: white;
    opacity: 0.75;
    transform: rotate(45deg);
    position: absolute;
    top: 55%;
    left: 13%;
}

.friendDeck {
    transform: rotate(-135deg);
    position: absolute;
    top: 15%;
    right: 10%;
    width: 40%;
    height: 30%;
    background-color: white;
    opacity: 0.75;
}

.loveCard {
    position: relative;
    top: 30%;
}

.loveCard > p,
.friendCard > p {
    font-family: 'Coiny', cursive;
    text-align: center;
}

.friendCard {
    position: relative;
    top: 30%;
}

.sideTaxContainer > p {
    font-size: 80%;
}

/* css for deed card */
.deed{
    width: 220px;
    height: 250px;
    border: 1px solid black;
    position: flex;
    padding: 5px;
}

.deed p, .deed h2, .deed h4{
    padding: 0px;
    margin: 0;
    
}
.deed .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}

.deed .content{
    display: flex;
    width: 100%;
    height: 100%;
}
.deed .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width:25%;
}

.deed .left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width:75%;
}

.left{
    width: 60%;
}

.right{
    width: 30%;
}

.propInfo > .image {
    opacity: 0.4;
}

/* css for chance and chest card */
.chest{
    height:180px;
    width:250px;
    padding: 15px;
    border: 1px solid black;

}

.chest .chestBorder{
    width: 100%;
    height: 100%;
    border: 5px solid black;
    box-sizing: border-box;
}
.chest .textAlign{
    text-align: center; 
}
.chest .topContainer{
    height: 20%;
}

.chest .bottomContainer{
    height: 80%;
    text-align: center; 
}

.chest .left, .chest .right{
    display: inline-block;
}

.imgChestSizing{
    width:100%;
}
/*
 * Sidebar: Action Dialog
 */
.action-dialog-container {
    position: absolute;
    top: 5%;
    left: 5%;

    display: none;
    box-sizing: border-box;
    height: 90%;
    width: 90%;
    background-image: url('images/images (1).jpg');
    padding: 15px;

    z-index: 3;
}
.action-dialog {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10px;
}
.action-dialog .avatar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 60px;
}
.action-dialog .avatar .image {
    height: 50px;
    width: 50px;
    background-image: url('player-icons/1-face.png');
    background-position: center;
    background-color: #FBF176;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}
.action-dialog .avatar .name {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: .8em;
}
.action-dialog .action {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.action-dialog .action > .title {
    font-family: 'Anton', sans-serif;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    padding: 5px;
}
.action-dialog .action > .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-dialog .action .buttons {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 5px;
}
.action-dialog .action .buttons button {
    margin: 0px 5px;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #010532;
    color: white;
}
/*duplicate right class and propinfo>.image class*/
.right {
    width: 30%;
}

.propInfo > .image {
    opacity: 0.4;
}
/*
 * Roll Dice Dialog
 */
.dice {
    background-image: url('images/dice.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 30%;
}