body {
    height: 100vh;
    margin: 0;
}

.frame {
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: inline-flex;
}

.boardFrame {
    height: 100%;
    width: 75vw;
    border: 2px solid black;
    box-sizing: border-box;
}

.players {
    background-color: black;
    height: 100vh;
    width: 25vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.playerInformation {
    width: 90%;
    height: 75%;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: white;
}

.playerContainer {
    display: block;
    position: relative;
    align-content: center;
    margin: auto;
}

.topProp {
    height: 15%;
    display: flex;
    background-image: url("images/sailor moon back2.jpg");
}

.middleContainer {
    display: flex;
    height: 70%;
}

.bottomProp {
    display: flex;
    height: 15%;
    background-image: url("images/images (1).jpg");
}

.sidePropContainer,
.rightPropContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 15%;
    height: 100%;
}

.rightPropContainer {
    flex-direction: column;
    background-image: url("images/sailor-moon-back.jpg");
}

.sidePropContainer {
    background-image: url("images/sailor-moon-back.jpg");
    background-position: center;
}

.middleFrame {
    width: 70%;
    height: 100%;
    border: 2px solid black;
    background-image: url("images/Sailor-Moon-sailor-moon-33437032-1808-1386.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.freeParking,
.goToJail,
.jail,
.goStart {
    width: 15%;
    height: 100%;
}

.topProp > .propContainer,
.bottomPropContainer {
    width: 70%;
    height: 100%;
    display: flex;
}

.bottomProp {
    flex-direction: row-reverse;
}

.sidePropContainer .prop1,
.rightPropContainer .prop1 {
    width: 100%;
    height: 11.11%;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}

.topProp .prop1,
.bottomProp .prop1 {
    width: 11.11%;
    height: 100%;
    border-right: 2px solid black;
    box-sizing: border-box;
}

.freeParking {
    border-right: 2px solid black;
}

.jail {
    border-right: 2px solid black;

}

.sidePropContainer .prop1:nth-child(9) {
    border-top: 2px solid black;
    box-sizing: border-box;
}

.rightPropContainer .prop1:nth-child(1) {
    border-top: 2px solid black;
    box-sizing: border-box;
}

.startCollect {
    font-size: 1.5vh;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.startGo {
    font-size: 4vh;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.arrowImage img {
    width: 40%;
}

.startArea {
    display: inline-block;
}

.arrowImage {
    display: inline-block;
}