body {
    height: 100vh;
    margin: 0;
}

.boardFrame {
    height: 100vh;
    width: 100vh;
    border: 3px solid black;
}

.topProp {
    height: 15%;
    display: flex;
    background-color: #df5277;
}

.middleContainer {
    display: flex;
    height: 70%;
    background-color: #985f0d;
}

.bottomProp {
    display: flex;
    flex-direction: row-reverse;
    height: 15%;
    background-color: #df5277;
}

.sidePropContainer,
.rightPropContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 15%;
    height: 100%;
    background-color: #761c19;
}

.rightPropContainer {
    flex-direction: column;
}

.middleFrame {
    width: 70%;
    height: 100%;
    border: 3px solid black;
    background-color: #2b542c;
}

.freeParking,
.goToJail,
.jail,
.goStart {
    width: 15%;
    height: 100%;
}

.topProp > .propContainer,
.bottomProp > .propContainer {
    width: 70%;
    height: 100%;
}

.sidePropContainer .prop1,
.rightPropContainer .prop1 {
    width: 100%;
    height: 11.11%;
    border-bottom: 3px solid black;
}

.topProp .prop1,
.bottomProp .prop1 {
    width: 11.11%;
    height: 100%;
    border-right: 3px solid black;
}

.freeParking {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.goToJail {
    border-bottom: 3px solid black;
}

.jail {
    border-right: 3px solid black;
}

