body {
    height: 100vh;
    margin: 0;
}

.frame {
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: inline-flex;
}

.boardFrame {
    height: 100%;
    width: 75vw;
    border: 2px solid black;
    box-sizing: border-box;
}

.players {
    background-color: black;
    height: 100vh;
    width: 25vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.playerInformation {
    width: 90%;
    height: 75%;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: white;
}

.playerContainer {
    display: block;
    position: relative;
    align-content: center;
    margin: auto;
}

.topProp {
    height: 15%;
    display: flex;
    background-image: url("images/sailor moon back2.jpg");
}

.middleContainer {
    display: flex;
    height: 70%;
}

.bottomProp {
    display: flex;
    height: 15%;
    background-image: url("images/images (1).jpg");
}

.sidePropContainer,
.rightPropContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 15%;
    height: 100%;
}

.rightPropContainer {
    flex-direction: column;
    background-image: url("images/sailor-moon-back.jpg");
    background-repeat: no-repeat;
}

.sidePropContainer {
    background-image: url("images/sailor-moon-back.jpg");
    background-position: center;
}

.middleFrame {
    width: 70%;
    height: 100%;
    border: 2px solid black;
    background-image: url("images/Sailor-Moon-sailor-moon-33437032-1808-1386.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.freeParking,
.goToJail,
.jail,
.goStart {
    width: 15%;
    height: 100%;
}

.topProp > .propContainer,
.bottomPropContainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;

}

.bottomProp {
    flex-direction: row-reverse;
}

.sidePropContainer .prop1,
.rightPropContainer .prop1 {
    width: 100%;
    height: 11.11%;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    position: relative;
}

.topProp .prop1,
.bottomProp .prop1 {
    width: 11.11%;
    height: 100%;
    border-right: 2px solid black;
    box-sizing: border-box;
    position: relative;
}

.freeParking {
    border-right: 2px solid black;
}

.jail {
    border-right: 2px solid black;

}

.sidePropContainer .prop1:nth-child(9) {
    border-top: 2px solid black;
    box-sizing: border-box;
}

.rightPropContainer .prop1:nth-child(1) {
    border-top: 2px solid black;
    box-sizing: border-box;
}

.startCollect {
    font-size: 1.4vh;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.startGo {
    font-size: 3.5vh;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.arrowImage img {
    width: 55%;
}

.startArea {
    display: inline-block;
    text-align: center;
    transform: rotate(-30deg);
    position: absolute;
    top: 14%;
    left: 3%;
}

.arrowImage {
    display: inline-block;
<<<<<<< HEAD
}

#modalShadow{
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: black;
	opacity: .4;
}
#modalBody{
	position: fixed;
	left: 50%;
	top: 50%;
	min-height: 30vmin;
	min-width: 30vmin;
	transform: translate(-50%, -50%);
	background-color: white;
	display: flex;
}
#modalMessage{
	margin: auto auto;
=======
    position: absolute;
    top: 70%;
    left: 40%;
}

.goStart {
    position: relative;
}

.brown {
    height: 15%;
    background-color: saddlebrown;
}

.blue {
    height: 15%;
    background-color: #31b0d5;
}

.pink,
.orange {
    width: 15%;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 0;
}

.pink {
    background-color: #df5277;
}

.orange {
    background-color: darkorange;
}

.red,
.yellow {
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.red {
    background-color: #cd0a0a;
}

.yellow {
    background-color: gold;
}

.green,
.grey {
    width: 15%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
}

.green {
    background-color: #449d44;
}

.grey {
    background-color: #5e5e5e;
}

.bottomImg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bottomText {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

}

.bottomMoney {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.bottomText > p,
.bottomMoney > p {
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 60%;
    font-weight: bold;
}

.neptune .bottomImg {
    width: 85%;
}

.leftImg {
    width: 50%;
    transform: rotate(90deg);
}

.leftText {
    transform: rotate(90deg);
    width: 50%;
    text-align: center;
}

.leftMoney {
    background-color: white;
    transform: rotate(90deg);
    display: inline-block;
}

.leftText > p,
.leftMoney > p {
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 60%;
    font-weight: bold;
    display: inline-block;
}

.sidePropContainer .propInfo {
    display: flex;
    flex-direction: row-reverse;
>>>>>>> 3b7eb0c6be1f9e554eb6030f2fadedcc8c84b865
}